.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  align-items: center;
  justify-content: center;
  form {
    width: 350px;
  }
  h1 {
    font-size: 24px;
    font-weight: lighter;
    line-height: 16px;
  }
  h4 {
    font-size: 15px;
    margin-top: 0
  }
  .row {
    display: flex;
    flex-direction: row;
    margin: 12px 0;
    width: 100%;
    padding: 0 16;
    label {
      font-weight: bolder;
      font-size: 12px;
    }
    input {
      flex: 1;
      padding: 6px 12px;
      border-radius: 6px;
      border: 1px solid #ccc;
      background-color: #FFF;
      &:visited,
      &:active  {
        background-color: #FFF !important;
      }
    }
    &.display-column {
      flex-direction: column !important;
    }
    &.justify-between {
      justify-content: space-between;
    }
    button {
      min-width: 120px;
      padding: 8px 16px;
      color: #FFF;
      border-radius: 6px;
      &.cancel {
        background-color: #ff7675
      }
      &.submit {
        background-color: #00b894;
        margin-left: auto;
      }
    }
  }
}
