<div class="container">

  <h1>Olá visitante</h1>
  <h4>Seja bem-vindo!</h4>

  <form [formGroup]="registerForm" (onsubmit)="register()">

    <div class="row display-column">
      <label for="">Username:</label>
      <input type="text" formControlName="username">
    </div>

    <div class="row display-column">
      <label for="">Email:</label>
      <input type="email" formControlName="email">
    </div>

    <div class="row display-column">
      <label for="">Senha:</label>
      <input type="password" formControlName="senha">
    </div>


    <div class="row justify-between">
      <button class="cancel" [routerLink]="['/auth/login']">Cancelar</button>
      <button class="submit" (click)="register()">Entrar</button>
    </div>

  </form>

</div>